### loops
loops are used to repeat instructions

...SYNTAX...
while loop
while condition:
    <some work>

In [2]:
count = 1
while count <= 5:
    print("Hello world")
    count += 1

Hello world
Hello world
Hello world
Hello world
Hello world

In [3]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [4]:
i = 5
while i >= 1:
    print(i)
    i -= 1

5
4
3
2
1

#### PRACTICE QUESTION
- print numbers from 1 to 100

In [5]:
i = 1
while i <= 100:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

- print numbers from 100 to 1

In [6]:
i = 100
while i >= 1:
    print(i)
    i -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

- print the multiplicaton table of a number n.

In [8]:
n = int(input("Enter number : "))
i = 1
while i <= 10:
    print(n*i)
    i += 1

Enter number :  5

5
10
15
20
25
30
35
40
45
50

- print the elements of the following list using a loop

In [11]:
nums = [1,4,9,16,25,36,49,64,81,100]
idx = 0 
while idx < len(nums): # 9 < 10
    print(nums[idx]) # nums[0],nums[1]......nums[]
    idx += 1

1
4
9
16
25
36
49
64
81
100

- above code can write in other way

In [12]:
nums = [1,4,9,16,25,36,49,64,81,100]
i = 0
while i <= len(nums)-1:
    print(nums[i])
    i += 1

1
4
9
16
25
36
49
64
81
100

In [13]:
heroes = ["ironman","thor","superman","batman"]
i = 0
while i < len(heroes):
    print(heroes[i])
    i += 1

ironman
thor
superman
batman

- search for a number x in this tuple using loop

In [19]:
nums = (1,4,9,16,25,36,49,64,81,100)

x = int(input("Enter  number : "))
i = 0
while i < len(nums):
    if(nums[i] == x):
        print("found at index",i)
    else:
        print("nothing....")
    i += 1

Enter  number :  64

nothing....
nothing....
nothing....
nothing....
nothing....
nothing....
nothing....
found at index 7
nothing....
nothing....

In [21]:
nums = (1,4,9,16,25,36,49,64,81,100,36)

x = int(input("Enter a number : "))
i = 0
while i < len(nums):
    if(nums[i] == x):
        print("found at index",i)
    else:
        print("noting....")
    i += 1

Enter a number :  36

noting....
noting....
noting....
noting....
noting....
found at index 5
noting....
noting....
noting....
noting....
found at index 10

#### BREAK AND CONTINUE KEYWORD
- BREAK (used to terminate the loop when encountered)
- CONTINUE (terninates excecution in the current iteration and continues execution of the loop with the next iteration)

In [1]:
nums = (1,4,9,16,25,36,49,64,81,100,36,36)

x = int(input("Enter a number : "))
i = 0
while i < len(nums):
    if(nums[i] == x):
        print("found at index",i)
        break
    else:
        print("nothing....")
    i += 1

Enter a number :  36

nothing....
nothing....
nothing....
nothing....
nothing....
found at index 5

In [2]:
# BREAK KEYWORD
i = 1
while i <= 5:
    print(i)
    if(i == 3):
        break
    i += 1

1
2
3

In [3]:
# CONTINUE KEYWORD
i = 0
while i <= 5:
    if(i == 3):
        i += 1
        continue # skip
    print(i)
    i += 1

0
1
2
4
5

In [4]:
i = 1
while i <= 10:
    if(i % 2 == 0):
        i += 1
        continue # skip
    print(i)
    i += 1

1
3
5
7
9

In [ ]:
i = 1 
while i <= 10:
    if(i % 2 != 0):
        i += 1
        continue
    print(i)
    i += 1

### FOR LOOPS:
- for loop are used for sequential traversal . for traversing list, string, tuples etc.

In [1]:
nums = [1,2,3,4,5]
for val in nums:
    print(val)

1
2
3
4
5

In [2]:
veggies = ["onin","potato","cucumber","ladyfinger","brinjal"]
for val in veggies:
    print(val)

onin
potato
cucumber
ladyfinger
brinjal

In [4]:
tup = (1,4,3,6,7,8,5,4,3)
for val in tup:
    print(val)

1
4
3
6
7
8
5
4
3

In [47]:
set = {1,2,3,3,4,5,"a","b"}
for val in set:
    print(val)

1
2
3
4
5
b
a

In [5]:
str = "clouddataengineering"
for char in str:
    print(char)

c
l
o
u
d
d
a
t
a
e
n
g
i
n
e
e
r
i
n
g

In [6]:
str = "clouddataengineering"
for char in str:
    print(char)
else:
    print("END")

c
l
o
u
d
d
a
t
a
e
n
g
i
n
e
e
r
i
n
g
END

In [7]:
str = "clouddataengineering"
for char in str:
    print(char)

print("END")

c
l
o
u
d
d
a
t
a
e
n
g
i
n
e
e
r
i
n
g
END

- else optional hai agr hum loop end hony k bad kuch print krwana chaty hain ye tub use hota hai.
- ik sawal hai agr hum else na lagaen srf print statement likh dyn tub bhi same kaam hoga bilkul hoga.
- is else ki need un specific cases mai pharti hai jub hum break ka keyword use krty hain jesy nichy code mai hoa hoa hai.

In [10]:
str = "clouddataengineering"
for char in str:
    if(char == "t"):
        print("t found")
        break
    print(char)
else:
    print("END")

c
l
o
u
d
d
a
t found

In [17]:
str = "clouddataengineering"
for char in str:
    if(char == "t"):
        print("t found")
        break
    print(char)

print("END")

c
l
o
u
d
d
a
t found
END

### range() function
- Range functions returns a sequence of numbers, starting from 0 by default, and incrreaments by 1 (by default) and stop before a specified number.
  
- range(start?,stop,step?)

- sequence ka matlab ik tarah sy list return kr raha hai magr wo list data type ki form mai nahi just numbers ki normal list return kr raha hai.

In [18]:
print(range(5))

range(0, 5)

In [20]:
seq = range(5)
print(seq[0])
print(seq[1])
print(seq[2])
print(seq[3])
print(seq[4])

0
1
2
3
4

In [21]:
seq = range(5)
for i in seq:
    print(i)

0
1
2
3
4

In [24]:
for i in range(10): # range(stop)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
for i in range(2,10): # range(start, stop)
    print(i)

2
3
4
5
6
7
8
9

In [27]:
for i in range(2, 10, 2): # range(start, stop, step)
    print(i)

2
4
6
8

In [28]:
for i in range(2, 100, 2): # print even numbers
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [29]:
for i in range(2, 101, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [30]:
for i in range(1, 100, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

### PASS STATEMENT:
- pass is a null statement that does nothing,It is used as a placeholder for future code.

In [31]:
for i in range(5):
    # EMPTY

print("some useful work")

IndentationError: expected an indented block after 'for' statement on line 1 (4042653797.py, line 4)

In [32]:
for i in range(5):
    pass
print("some useful work")

some useful work

pass hum if k andr bhi laga sakty hain jesy
 if i  > 5:
     pass

### PRACTICE QUESTION:

- print the elements of the following list using a loop:

In [33]:
nums = [1,4,9,16,25,36,49,64,81,100]
for i in nums:
    print(i)

1
4
9
16
25
36
49
64
81
100

- search for a number x in this tuple using loop:

In [36]:
nums = (1,4,9,16,25,36,49,64,81,100)

x = int(input("Enter a number : "))
idx = 0
for ele in nums:
    if(ele == x):
        print("number found at index",idx)
    idx += 1

    
# yahan py hum index ko print nahi krwa sakty tw humy index ko initialize krwana phary ga track krny k liye
# aur hum is index ko as such condition k andr use nahi kr rahy phir bhi hum ussy use kryn gai.

Enter a number :  36

number found at index 5

In [37]:
nums = (1,4,9,16,25,36,49,64,81,100,49)

x = int(input("Enter a number : "))
i = 0
for ele in nums:
    if(ele == x):
        print("number found at index",i)
        break
    i += 1

Enter a number :  49

number found at index 6

- print the numbers from 1 to 100

In [38]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

- print the numbers from 100 to 1

In [39]:
for i in range(100, 0, -1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

- print the multiplication table of a number n.

In [40]:
n = int(input("Enter a number : "))
i = 1
for i in range(1, 11):
    print(n*i)

Enter a number :  3

3
6
9
12
15
18
21
24
27
30

- WAP to find the sum of first n numbers (using for) {n = natural numbers}

In [41]:
n = 5
sum = 0
for i in range(1, n+1):
    sum += i
print("total sum",sum)

total sum 15

- WAP to find the sum of first n numbers (using while) {n = natural numbers}

In [43]:
n = 8
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1
print("total sum",sum)

total sum 36

- WAP to find the factorial of first n numbers (using while) {n =  natural numbers}

In [44]:
n = 5
fact = 1
i = 1
while i <= n:
    fact *= i
    i += 1
print("factorial",fact)

factorial 120

- WAP to find the factorial of first n numbers (using for) {n =  natural numbers}

In [45]:
n = 5
fact = 1
for i in range(1, n+1):
    fact *= i
print("factorial",fact)

factorial 120

## SMIT LOOPS CLASS:

- 6. WAP that prints 'Happy Birthday!' five times on screen.

In [48]:
# HARD CODED:

wish = ["Happy Birthday",
        "Happy Birthday",
        "Happy Birthday",
        "Happy Birthday",
        "Happy Birthday"]

for temp in wish:
    print(temp)

Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday

In [55]:
for temp in range(5):
    print(temp)

0
1
2
3
4

In [56]:
for temp in range(5):
    print(temp+1)

1
2
3
4
5

In [49]:
# HARD CODED:
for temp in range(5):
    print(temp,"Happy Birthday")

0 Happy Birthday
1 Happy Birthday
2 Happy Birthday
3 Happy Birthday
4 Happy Birthday

In [50]:
for temp in range(5):
    print("Happy Birthday")

Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday

In [52]:
# DYNAMIC CODED:

times = int(input("how many times thats you want to wish 'Happy Birthday' : "))
for temp in range(times):
    print(temp,"Happy Birthday")

how many times thats you want to wish 'Happy Birthday' :  8

0 Happy Birthday
1 Happy Birthday
2 Happy Birthday
3 Happy Birthday
4 Happy Birthday
5 Happy Birthday
6 Happy Birthday
7 Happy Birthday

 7. WAP that takes a number n as input from the user and generates the first n terms of the series formed by squaring the natural numbers.

sample output
Enter a number:6
The first 6 terms of the series are:
1 4 9 16 25 36

In [61]:
n = int(input("Enter a number : "))
print(f"The first {n} terms of the series are: ")
for temp in range(n):
    print(temp**2)

Enter a number :  6

The first 6 terms of the series are:
0
1
4
9
16
25

In [60]:
n = int(input("Enter a number : "))
print(f"The first {n} terms of the series are: ")
for temp in range(n):
    print((temp+1)**2)

Enter a number :  6

The first 6 terms of the series are:
1
4
9
16
25
36

- 8. WAP that prompts the user to input a number and prints its multiplication table.

In [69]:
table = int(input("Enter a number for table : "))
times = int(input("how many times you want to print table : "))

for temp in range(times):
    print(f"{table} * {temp} = {table * temp} ")

Enter a number for table :  3
how many times you want to print table :  11

3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [68]:
table = int(input("Enter a number for table : "))
times = int(input("how many times you want to print table : "))

for temp in range(times):
    print(f"{table} * {temp+1} = {table * (temp+1) } ")

Enter a number for table :  3
how many times you want to print table :  10

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

TASK : print tables from 2 to 5 in such a way that every table print one time less than other

In [4]:
start = int(input("From when we want to create table : "))
end = int(input("Till when we want to create table : "))
times = int(input("How many times you want to print table"))

for table in range(start,end):
    for temp in range(times):
        print(f"{table} * {temp+1} = {table * (temp+1)}")
    times -= 1
    print(f"----------")

From when we want to create table :  2
Till when we want to create table :  6
How many times you want to print table 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
----------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
----------

- Above code write in another way

In [3]:
num = 11
for x in [2,3,4,5]:
    for y in range(1, num):
        print(f"{x} * {y} = {x*y}")
    num -= 1
    print(f"--------------")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
--------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
--------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
--------------